body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: #fff;
}


h1 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;

}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: #8f8f8f;
}

.container {
    padding: 3% 15%;
}


i {
    margin-right: 3px;
}


/* Navigation bar */

.navbar {
    padding:0 0 4.5rem;
}

.dowmnload-btn {
    padding: 5% 3% 5% 0;
}

.img-nav {
    width: 65%;
}

.nav-item {
    padding-left: 1rem ;
    padding-right:1rem ;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.25rem;
    font-family: 'Montserrat-Light';
}

.rotated {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    align-items: centre;
}

/* Features */

#features {

    padding: 7% 15%;

}

.features-item {
    color: #cf8172;
    font-size:4rem;
    margin-bottom: 2rem;
}

.features-item:hover {
    color: #ff4c68;
}

.features-box {
    padding: 4%;
    text-align: center;
}

/* Testimonial-section */

#testimonials {
    background-color: #cf8172;
    text-align: center ;
    color: #fff;
}

.testimonial-image {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.testimonial-text{
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;
}


/* Press */

#press {
    background-color: #cf8172;
    text-align: center;
    }

.press-img {
    margin: 20px 20px 50px;
    width: 15%;
}
